<div class="container">
  <div class="column small-12 text-center book-title">
    <%= link_to @book.prev.name, @book.prev, class: 'book-prev' if !@book.prev.nil? %>
    <h1 class="inline font-bold">
      <%= @book.name %>
    </h1>
    <%= link_to @book.next.name, @book.next, class: 'book-next' if !@book.nil? %>
    <p>
      <%= @book.section.name %><br>
      <%= link_to @book.category.name, category_path(@book.category) %>
    </p>

  </div>

  <section class="column small-12 chapters-list text-center">
      <% @book.chapters.each do |chapter| %>
      <div class="link-container">
        <%= link_to chapter.number, chapter_path(chapter), class: :link %>
      </div>
      <% end %>
  </section>

  <div class="column small-12">
    <div class="row align-middle">
      <div class="column small-8">
        <h2>Comentario del Libro</h2>
      </div>
      <div class="column small-4 text-right">
        <%= link_to 'Editar comentario', edit_book_commentary_path(@book.book_commentary), class: "button primary tiny" %>
      </div>
    </div>
    <div class="column small-12 commentary">
      <%= @book.book_commentary.comment %>
    </div>
  </div>
</div>
