<p id="notice"><%= notice %></p>
<p><%= link_to '<- Libros', books_path %></p>
<div class="">
  <h1> <%= link_to '<', @book.prev if !@book.prev.nil? %> <%= @book.name %> <%= link_to '>', @book.next if !@book.nil? %></h1>
  <p>
    <%= @book.section.name %> -
    <%= link_to @book.category.name, category_path(@book.category) %>
  </p>

  <p>
    <% @book.chapters.each do |chapter| %>
      <%= link_to chapter.number, chapter_path(chapter) %>
    <% end %>
  </p>
</div>

<div>
  <h2>Comentario Bíblico</h2>
  <div>
    <%= @book.book_commentary.commentary %>
  </div>
</div>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
