<p id="notice"><%= notice %></p>

<p>
  <strong>Verse:</strong>
  <%= @verse.verse %>
</p>

<p>
  <strong>Number:</strong>
  <%= @verse.number %>
</p>

<p>
  <strong>Chapter:</strong>
  <%= @verse.chapter %>
</p>

<p>
  <strong>Book:</strong>
  <%= @verse.book %>
</p>

<%= link_to 'Edit', edit_verse_path(@verse) %> |
<%= link_to 'Back', verses_path %>
