<div class="row">
  <h2 class="text-center">
    <%= link_to @verse.book.name, @verse.book %>
    <%= @verse.chapter.number.to_s %>:
    <%= link_to '<', @verse.prev if !@verse.prev.nil? %>
    <%= @verse.number.to_s %>
    <%= link_to '>', @verse.next if !@verse.next.nil? %>
  </h2>
  <section class="text-center verses">
    <% @verse.chapter.verses.each do |verse| %>
    <div class="link-container">
      <%= link_to verse.number, verse_path(verse) %>
    </div>
    <% end %>
  </section>
  <h1 class="verse-show"><%= @verse.verse %></h1>

    <div class="column small-12">
      <div class="row align-middle">
        <div class="column small-8">
          <h3>Comentario Bíblico</h3>
        </div>
        <div class="column small-4 text-right">
          <%= link_to 'Crear Comentario', new_verse_verse_commentary_path(@verse), class: "button primary tiny" if @verse.verse_commentary.nil? %>
          <%= link_to 'Editar Comentario', edit_verse_verse_commentary_path(@verse.verse_commentary), class: "button primary tiny" if !@verse.verse_commentary.nil? %>
        </div>
      </div>
      <div class="column small-12 commentary">
        <% if @verse.verse_commentary  %>
          <%= markdown(@verse.verse_commentary.commentary).html_safe %>
        <% else %>
          Este versiculo no tiene comentario.
        <% end %>
      </div>
    </div>
</div>
