<div class="container">
  <h1 class="text-center">
    <%= link_to @chapter.book.name, @chapter.book, class: :link %>
    <small>
      <%= link_to @chapter.prev.number, @chapter.prev, class: 'chapter-prev' if !@chapter.prev.nil? %>
    </small>
    <%= @chapter.number %>
    <small>
      <%= link_to @chapter.next.number, @chapter.next, class: 'chapter-next' if !@chapter.next.nil? %>
    </small>
  </h1>
  <div class="column small-12 chapters-list text-center">
    <% @chapter.book.chapters.each do |chapter| %>
    <div class="link-container">
      <%= link_to chapter.number, chapter_path(chapter), class: :link %>
    </div>
    <% end %>
  </div>
  <div class="">
    <h2>Versos</h2>
    <div class="">
      <% @chapter.verses.each do |verse| %>
      <div class="verse-link">
        <%= link_to verse_path(verse), class: :link do %>
          <strong>
            <%= verse.number %>
          </strong>
          <%= verse.verse %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div></div>
