<p id="notice"><%= notice %></p>
<h1>
  <%= link_to @chapter.book.name, @chapter.book %>
  <%= link_to '<', @chapter.prev if !@chapter.prev.nil? %>
  <%= @chapter.number.to_s %>
  <%= link_to '>', @chapter.next if !@chapter.next.nil? %>
</h1>
<p>
  <% @chapter.book.chapters.each do |chapter| %>
    <%= link_to chapter.number, chapter_path(chapter) %>
  <% end %>
</p>
<div class="">
  <h2>Versos</h2>
  <div class="">
    <% @chapter.verses.each do |verse| %>
      <div class="">
        <%= link_to verse.number, verse_path(verse) %>
        <%= verse.verse %>
      </div>
    <% end %>
  </div>
</div>
<%= link_to 'Back', chapters_path %>
