<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'partials/admin_menu' if user_signed_in? %>
    <div id="headerSection" class="row expanded text-center">
      <header>

        <%= "<h1 class='logo-text'>#{link_to 'comba', root_path }</h1>".html_safe if controller_name == 'home' %>
        <%= "<h2 class='logo-text'>#{link_to 'comba', root_path }</h2>".html_safe if controller_name != 'home' %>
        <span>Comentario Bíblico Adventista</span>
      </header>
    </div>
    <div id="content">
      <%= yield %>
    </div>

    <%= render 'partials/footer' %>
  </body>
</html>
